<h1><%=@artist.name%></h1>

<%if current_user%>
<%=button_to "Edit Your Artist", edit_artist_path(@artist), method: 'get'%>
<%=link_to "Delete Your Artist", artist_path(@artist), method: 'delete'%>
<h5>What's on your mind?</h5>
<%=form_for @post do |f| %>
<%=f.hidden_field :artist_id, value: @artist.id%>
<%=f.label :content%>
<%=f.text_area  :content%>
<%=f.file_field :media%>
<%=f.submit "Create Post"%>
<%end%>
<%end%>

<% if @artist.image_url%>
    <%=image_tag @artist.image_url, class: "icon"%>
<%end%>

<%if @artist.avatar.attached?%>
<%=image_tag @artist.avatar, class: "headshot"%>
<%end%>


<p><%=@artist.description%></p>


<% if @artist.genres %>
    <p>Genres:</p>
    <%@artist.genres.each do |genre|%>
        <p><%=genre.name%></p>
    <%end%>
<%end%>


<div class = "artist-posts">
    <h4>Posts:</h4>
    <% if @artist.posts %>
        <% @artist.posts.each do |post|%>
        <div>
            <p><%=post.content%></p>
            <%if post.media.attached?%>
            <%=image_tag post.media%>
            <%end%>
        </div>
        <%end%>
    <%end%>
</div>


<div class = "artist-bookings">
    <h4>Upcoming Events:</h4>
    <% if @artist.bookings %>
        <%@artist.bookings.each do |booking|%>
            <p><%=booking.title%></p>
            <p><%=booking.format_time%>
            <p><%=booking.description%></p>
        <%end%>
    <%end%>
</div>


<h2> Shows with this Artist: </h2>
<%= render './bookings/calendar' %>