<%= month_calendar(attribute: :date, events: @bookings) do |date, bookings| %>
  <%= date.day %>

  <% bookings.each do |booking| %>
    <div>
      <%= booking.title %>
      <br>
      <a class="tile" href="<%=artist_path(booking.artist)%>">
        <% if booking.artist.avatar.attached? %>
          <%=image_tag booking.artist.avatar, class: 'icon' %>
        <% else %>
         <img class="icon" src="<%=booking.image_url||booking.artist.image_url||booking.venue.image_url%>" />
        <% end %>
        <%= booking.artist.name %>
        </a>
      <br>
      
    </div>
<% end %>
<% end %>
