<%= form_for @booking  do  |f| %>
<div class="half">
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :start_date %>
        <%= f.datetime_field(:start_date, :default => DateTime.now.strftime("%Y-%m-%dT%H:%M:00"), :min => DateTime.now.strftime("%Y-%m-%dT%H:%M:00")) %>
    </div>
    <div>
        <%= f.label :end_time %>
        <%= f.datetime_field(:end_time, :default => DateTime.now.strftime("%Y-%m-%dT%H:%M:00"), :min => DateTime.now.strftime("%Y-%m-%dT%H:%M:00"))%>
    </div>
     <% unless @artist %><!--this hides the field when an artist is given so that an artist will get filled in automatically -->
        <div>
            <%= f.label :artist_name %> 
            <%= f.text_field :artist_name, list: 'artists_autocomplete' %>
            <datalist id='artists_autocomplete'>
                <% Artist.all.each do |artist| %>
                    <option value="<%= artist.name %>">
                <% end %>
            </datalist>
        </div>
    <% else %>
        <div>
            <%= f.hidden_field :artist_name, :value => @artist.name%>
        </div>
    <% end %>
</div>
<div class="half">
   <% unless @venue %><!--this hides the field when an @venue is given so that a venue will fill this in automatically -->
        <div>
            <%= f.label :venue_name %> <!--#make this a dataset next-->
            <%= f.text_field :venue_name, list: 'venues_autocomplete' %>
            <datalist id='venues_autocomplete'>
                <% current_user.venues.each do |venue| %>
                    <option value="<%= venue.name %>">
                <% end %>
            </datalist>
        </div>
   <% else %>
         <div>
            <%= f.hidden_field :venue_name, :value => @venue.name%>
        </div>
   <% end %>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :image_url %>
        <%= f.text_field :image_url %>
        <br>
        <%=f.label "Upload Photo"%>
        <%=f.file_field :show_pic%>
    </div>


    <%= submit_tag %>
</div>
<% end %>

