<h1>Welcome, <%=current_user.username%></h1>

<div>

    <h2>My Artists</h2>
    <div class="controls">
    <%=button_to "Create a New Artist Page", new_artist_path, method: 'get'%>
    <% if current_user.artists != [] %>
        <%=button_to "Add Admin for Artists", new_user_artist_path, method: "get"%>
    <% end %>
    </div>
    <% if current_user.artists != [] %>
        <%= render './artists/list_tiles' %>
    <%else%>
        <p>No Artists</p>
    <%end%>
</div>



<div>
    <h2>My Venues</h2> 
    <div class="controls">
        <%=button_to "Create a New Venue Page", new_venue_path, method: 'get'%>
        <% if current_user.venues != [] %>
            <%=button_to "Add Admin for Venues", new_user_venue_path, method: "get"%>
        <% end %>
    </div>
    <div>
    <% if current_user.venues != [] || current_user.venues.nil? %>
    <% @venues = current_user.venues %>
        <%= render './venues/list_tiles' %>
    <%else%>
        <p>You have not booked anything yet.</p>
    <%end%>
    </div>
</div>