
<% @venues.each do |venue| %>
        <div class="tile <%if current_user && current_user.venues.include?(venue) ? "mine" : "" %> <%= @artist && @artist.venues.include?(venue) ? "played" : "" %>"<%end%>>
            <a href="<%=venue_path(venue)%>">

                <%if venue.picture.attached?%>
                    <%=image_tag venue.picture, class: "headshot" %>
                 <%elsif venue.image_url%>
                     <%= image_tag venue.image_url, class: "headshot" %>
                 <%end%>
                <p ><%= venue.name %></p>
            </a>
                <p><%= venue.location %> </p>
        </div>
<% end %>
