<h1>Venues</h1>

<div class="search">
  <%= form_tag(venues_path, method: "get") do %>
    <%= label_tag(:q, "Location, Category, or Name:") %>
    <%= text_field_tag(:q, params[:q]) %>
    <%= submit_tag ("Search")%>
  <% end %>

  </div>

<%= render 'list_tiles' %>





