<h1> <%= @venue.name %> </h1>

<h2> <%= @venue.location %></h2> 
<p> Capacity: <%= @venue.capacity %></p>

<p> <%= @venue.nice_description %> </p>

<% if @venue.future_shows.count > 0 %>
    <h2> Upcoming Shows: </h2>
    <%= render './bookings/list_tiles' %>
<% end %>

<% if current_user && current_user.venues.include?(@venue)%>
<%=form_tag remove_venues_path, method: 'get' do %>
<%=hidden_field_tag 'venue_id', @venue.id%>
<%=submit_tag "Delete Admin"%>
<%end%>
<%end%>



<% if @venue.past_shows.count > 0 %>
    <h2>Past Shows: </h2>
    <ul class="thumb_display"> 
    <% @venue.past_shows.each do |b| %>
        <li>  
            <%= "#{b.title}  | #{b.time}" %>
            <br>    
            <%= link_to b.artist.name, artist_path(b.artist) %>
            <br> 
            <%= b.description  %> 
            </li>
        <% end %>
    </ul>
<% end %>

<% if @venue.artist_likes.count > 0 %>
    <h2>Endorsed Artists: </h2>
    <ul class="thumb_display"> 
        <% @venue.artist_likes.each do |l| %>
            <li>  
                <a href="<%=artist_path(l.artist)%>"><img class="headshot" src="<%=l.artist.image_url%>" />
                <br>
                <%=l.artist.name%></a>
            </li>
        <% end %>
    </ul>
<% end %>

<% if current_user && current_user.venues.include?(@venue) %>
    <div> Book an Artist
    <%= render './bookings/form' %>
    </div>
<% end %>

<h2> Shows at this Venue </h2>
<%= render './bookings/calendar' %>

<h2>Artists who have played here </h2>
<%= render './artists/list_tiles' %>