<div class = "artist-posts">
    <% if @posts %>
        <% @posts.each do |post|%>
        <div class="tile post">
            <a href="<%=artist_path(post.artist)%>">
                <% if post.artist.avatar.attached? %>
                    <%= image_tag post.artist.avatar, class: "icon" %>  
                <% elsif post.artist.image_url %> 
                    <%= image_tag post.artist.image_url, class: "icon" %>
                <% end %>
                <%= post.artist.name %>
            </a>
            <p><%=post.content%></p>
            <%if post.media.attached?%>
                <%if post.media.blob.content_type.include?("image" || "jpeg")%>
                <%=image_tag post.media, class: "picture"%>
                <% elsif post.media.blob.content_type.include?("video")%>
                <video src='<%=rails_blob_path(post.media)%>' type="video/mp4" controls>
                </video>
                <%end%>
            <%end%>
        </div>
        <%end%>
    <%end%>
</div>