<h1>Select which user to give admin access to your Venues</h1>

<%=form_for @user_venue do |f|%>
<%=f.label "Select User by Username"%>
<%=f.collection_select :user_id, User.other_users(current_user), :id, :username%>
<%=f.label "Select Venues for this User"%>
<%=f.collection_check_boxes :venue_id, current_user.venues, :id, :name%>
<%=f.submit "Submit"%>
<%end%>