<h1>Select which user to give admin access to your Venues</h1>

<%=form_for @user_venue do |f|%>
<%=f.label "Select User by Username"%>
<%=f.text_field :user_id, list: 'users_autocomplete'%>
<datalist id="users_autocomplete">
<%current_user.other_users.each do |user|%>
    <option value='<%=user.username%>'>
    <%end%>
    </datalist>
<%=f.label "Select Venues for this User"%>
<%=f.collection_check_boxes :venue_id, current_user.venues, :id, :name%>
<%=f.submit "Submit"%>
<%end%>