<!DOCTYPE html>
<html>
  <head>
    <title>BookMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar">
  <a class="navbar-brand" href="/artists">Artists</a>
</nav>

  <body>
    <%= yield %>
  </body>
</html>


