<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>BookMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/artists">Artists</a>  
  <a class="navbar-brand" href="/venues">Venues</a>  
  <a class="navbar-brand" href="/bookings">Calendar</a> 
  <a class="navbar-brand" href="/posts">News</a> 
  <% if current_user && @venue && current_user.venues.include?(@venue) %>
    <%= link_to "Edit this Venue", edit_venue_path(@venue), class: "navbar-brand admin" %>
  <% end %>
  <%if current_user && current_user.artists.include?(@artist)%>
    <%=link_to "Edit Artist", edit_artist_path(@artist), method: 'get', class: "navbar-brand admin" %>
    <%=link_to "Delete Artist", artist_path(@artist), method: 'delete', class: "navbar-brand admin" %>
  <% end %>
  <%if current_user && current_user.artists.include?(@artist)%>

        <%=form_tag remove_users_path, method: 'get', class: "controls" do %>
            <%=hidden_field_tag 'artist_id', @artist.id%>
            <%=submit_tag "Delete Admin", class: "navbar-brand admin"%>
        <%end%>
    <%end%>
  <%if !current_user%>
    <%=link_to "Login", login_path, class: "navbar-brand"%>
  <%end%>
  <%if current_user%>
    <%=link_to "Dashboard", user_path(current_user), class: "navbar-brand"%>
    <%=link_to "Logout", logout_path, method: 'destroy', class: "navbar-brand"%>
  <%end%>
</nav>


  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>


